{% extends "initial/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p></p><br />

<address>
    <p><strong>Person1:</strong>   <a href="mailto:Person1@example.com">Person1@example.com</a><br />
        <strong>Personal website:</strong> <a href="https://www.djangoproject.com">personalwebsite.com</a></p><br />

    <p><strong>Person2:</strong>   <a href="mailto:Person1@example.com">Person2@example.com</a><br />
        <strong>Personal website:</strong> <a href="https://www.djangoproject.com">personalwebsite.com</a></p><br />

   <p> <strong>Person3:</strong>   <a href="mailto:Person1@example.com">Person3@example.com</a><br />
        <strong>Personal website:</strong> <a href="https://www.djangoproject.com">personalwebsite.com</a></p><br />

   <p> <strong>Person4:</strong>   <a href="mailto:Person1@example.com">Person4@example.com</a><br />
        <strong>Personal website:</strong> <a href="https://www.djangoproject.com">personalwebsite.com</a></p><br />

</address>

{% endblock %}
