{% extends "initial/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    Stevinweg 1 / PO-box 5048<br />
    2628 CN Delft / 2600 GA Delft<br />
    The Netherlands 98052-6399<br />
    Phone: 015-27 83546/83289
</address>

<address>
    <strong>Contacts:</strong> <a href="mailto:secr-grs-citg@tudelft.nl">secr-grs-citg@tudelft.nl</a><br />
    <strong>Website:</strong><a  href="http://www.grs.citg.tudelft.nl"> grs.citg.tudelft.nl </a>
</address>



<div class="row">
    <div class="col-md-12">
       <!--  <h2>Web site:</h2>  -->
        <!--<p> Have a look at what is going on in our department: <a href="http://www.grs.citg.tudelft.nl">grs.citg.tudelft.nl </a> </p> -->
    </div>
</div>



{% endblock %}
