{% extends "initial/layout.html" %}

{% block content %}

<div class="row">

                <p> </p>
            <br />
            <p> </p>
            <p></p>            <p> </p>
            <br />
            <p> </p>
            <p></p>
    <h1> <strong>GRS - A Priori Knowledge</strong></h1>
        <p class="lead">Interative tool developed to help researchers collect a priori knowledge (APK). </p>
             <p>&copy; {{ year }} - Created by Luciana Toyoda using Django Application</p>
            <p> </p>
            <br />
            <p> </p><br />
            <p></p><br />
                <p> </p>
            <br />
            <p> </p>
            <p></p>
    <p><a href="{% url 'query' %}" class="btn btn-primary btn-large">Get Started! &raquo;</a></p>
</div>

            <p> </p>
            <br />
            <p> </p>
            <p></p>
<!--


<div class="jumbotron">
    <div class="col-md-4">
        <a href="{% url 'questions' %}"><h2>Questionnaire</h2></a></p>
            <p> Get started with the questionaire.</p>
    </div>

    <div class="col-md-4">
        <a href="{% url 'links' %}"><h2>Data Check</h2></a></p>
            <p>This connects you to other sites,<br /> to see if there is data on the time you need.</p>
    </div>

    <div class="col-md-4">
        <a href="{% url 'points' %}"><h2>Study Area</h2></a></p>
            <p>A link to select the study area <br /> using coordinates.</p>
    </div>
</div>

                    <p> </p> <br />
                    <p></p>
                    <p> </p> <br />
                    <p></p>
        <footer>

                    <p> </p> <br />
                    <p></p>
            <br />

        </footer>
-->

                <!-- <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">Back</a>  -->

{% endblock %}

<!--

<div class="jumbotron">

        <h2>Questionnaire</h2>
        <p><a class="btn btn-default" href="{% url 'questions' %}">Get Started &raquo;</a></p>

        <h2>Data Check</h2>
        <p><a class="btn btn-default" href="{% url 'links' %}">Go Go Go! &raquo;</a></p>

        <h2>Study Area</h2>
        <p><a class="btn btn-default" href="{% url 'points' %}">Coordinates &raquo;</a></p>
        -->