{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}

  <h2>Links</h2>
  <h3>{{ message }}</h3>
        <p></p><br />

  <address>
    <p><strong>Websites:</strong></p>
        <p><a href="https://pypi.python.org/pypi">Python</a></p>
        <p><a href=https://www.jetbrains.com/pycharm/>PyCharm (Python IDE)</a></p>
        <p><a href="https://djangoproject.com">Django Project</a></p>
        <p><a href="https://www.djangopackages.com/">Django Packages</a></p>

        <p>  </p><br />

    <p><strong>Tutorials:</strong></p>
        <p><a href="https://docs.djangoproject.com/en/1.9/intro/tutorial01/">Writting your first Django app (beginners)</a></p>
        <p><a href="http://hplgit.github.io/web4sciapps/doc/pub/._web4sa_django000.html">Django for Scientific Web Applications</a></p>

        <p>  </p><br />

    <p><strong>Books:</strong></p>
        <p><a href="http://www.greenteapress.com/thinkpython/">Think Python </a></p>
        <p><a href="https://tangowithdjango.com/">Tango With Django</a></p>
        <p><a href="https://www.twoscoopspress.com/">Two Scoops of Django</a></p>
        <p><a href="https://www.safaribooksonline.com/library/view/javascript-jquery/9781491948583/"> JavaScript & jQuery: The Missing Manual </a></p>
        <p><a href="http://www.htmlandcssbook.com//">HTML and CSS</a></p>

  </address>



{% endblock %}
