{% extends "initial/layout.html" %}

{% block content %}

<h2>Links</h2>
<h3>{{ message }}</h3>

        <p>

        </p><br />


<address>

    <p><strong>Websites:</strong></p>

    <p><a href="https://djangoproject.com">Django Project</a></p>

        <p><a href="https://www.djangopackages.com/">Django Packages</a></p>

            <p><a href="https://pypi.python.org/pypi">Python</a></p>

        <p>  </p><br />

        <p><strong>Books:</strong></p>

    <p><a href="https://tangowithdjango.com/">Tango With Django</a></p>

        <p><a href="https://www.twoscoopspress.com/">Two Scoops of Django</a></p>

            <p><a href="http://www.djangobook.com/en/2.0/index.html">The Django Book</a></p>

                <p><a href=http://www.greenteapress.com/thinkpython/>Think Python </a></p>

</address>






{% endblock %}
