{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}




<div style="margin-top: 1px;" align="center">
<div style="border: 1px solid #EAEAEA; width:985px; line-height:0.0em;"></div>
</div>



<iframe name="main" style="border:2px solid #000000;" src="http://www.wunderground.com/cgi-bin/findweather/getForecast?brand=wxmap&query=52.077999,4.292200&amp;zoom=5&amp;type=ter&amp;units=english&amp;wxsn=1&amp;wxsn.mode=temp&amp;rad=0&amp;sat=0" height="700" width="1040" frameborder="0" scrolling="auto""></iframe>-->
<!--&amp;query=95667&amp;theprefset=95667199999WS,-120.84979&amp;zoom=5&amp;type=ter&amp;units=english&amp;wxsn=1&amp;wxsn.mode=temp&amp;rad=0&amp;sat=0" height="700" width="1040" frameborder="0" scrolling="auto"></iframe>-->



<table width="100%">
<tr><td align="center">

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<br/><br/>

<table align="center">
<tr><td style="line-height:1.5em; font-size: 11px; color: #000000;" align="center">

<!--&lt;!&ndash; Start of StatCounter Code for Default Guide &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var sc_project=7107773;-->
<!--var sc_invisible=1;-->
<!--var sc_security="debfe3f7";-->
<!--</script>-->
<!--<script type="text/javascript"-->
<!--src="http://www.statcounter.com/counter/counter.js"></script>-->
<!--<noscript><div class="statcounter"><a title="counter-->
<!--customizable"-->
<!--href="http://statcounter.com/free-hit-counter/"-->
<!--target="_blank"><img class="statcounter"-->
<!--src="http://c.statcounter.com/7107773/0/debfe3f7/1/"-->
<!--alt="counter customizable" /></a></div></noscript>-->
<!--&lt;!&ndash; End of StatCounter Code for Default Guide &ndash;&gt;-->

	<!--&lt;!&ndash; Lightning Ring &ndash;&gt;-->
<!--<span style="display:none;visibility:hidden">-->
<!--<a href="http://www.lightningring.com/"><img src="http://www.lightningring.com/button.php?u=Xootneg" alt="LightningRing" border="0" width="1" height="1" /></a></span>-->


{% endblock %}


