{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}


    <meta name="viewport" content="width=988"/>
    <link rel="stylesheet" href="http://vortex.accuweather.com/adc2010/stylesheets/site.min-20160314.css" type="text/css" media="all" />


<link rel="stylesheet" href="http://vortex.accuweather.com/adc2010/stylesheets/pages/maps.min-20140919.css" type="text/css" media="all" />
<style type="text/css">
.weather-map{position:absolute;top:0px;left:0px;width:600px;height:450px;z-index:0;}
.weather-map-overlay{position:absolute;top:0px;left:0px;width:600px;height:450px;z-index:10;}
.map-crumb {
position: absolute;
line-height: 12px;
overflow: hidden;
width: 50px;
height: 16px;
right: 0;
top: 0;
padding: 0 0 2px 3px;
background-color: white;
border-left: 1px solid black;
border-bottom: 1px solid black;
}
#map_canvas
{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 800px;
    height: 450px;
}
#mapcontrols {margin:8px auto 8px auto;width:166px;}
#mapcontrols li {float:left;background-color:#E9EFEF;margin:0 8px 8px 0;border:1px solid #637EBE;cursor:pointer;width:16px;height:16px;}
#bmPlayLink { display:none; float:right;}
#bmPlayLink a { color: #637EBE; }
#tools
{
background-color:#faf7f5;
border: none;
color: #5077cd;
display: block;
font-size: 13px;
padding: 0px;
position: absolute;
left: 160px;
top: 0px;
width:145px;
height:29px;
z-index:9;
font-family:verdana;
}
#tools a
{
display:block;
color: #5077bb;
line-height:29px;
margin-left:10px;
text-decoration:none;
}
.tooldivider
{
position:absolute;
left:0px;
top:8px;
width:1px;
height:13px;
background-color:#bfbfbf;
z-index:5;
}
</style>


    <script type="text/javascript">
        var atp_queue = atp_queue ? atp_queue : [];
        var pbjs = pbjs || {};
        pbjs.que = pbjs.que || [];

    var apgUserInfoObj = {
        country: 'NL',
        city: 'The Hague',
        state: 'ZH',
        metro: '',
        zip: '',
        fcode: 'ETHX',
        partner: 'accuweather',
        sessionPartner: 'accuweather',
        referer: 'http://www.accuweather.com/en/world-weather',
        lang: 'en-us',
        langid: '1',
        lat: '52.08',
        lon: '4.31',
        dma: '',
        ip: '77.171.38.177',
        ipHash: '40cac9d1e4d22e31ae00aa42bd2019fd',
        ipLocation: '',
        sessionViews: 2,
    //visitFlow: '',
    geo_dma: '',
        geo_city: 'The Hague',
    geo_state: 'ZH',
    geo_zip: '',
    geo_country: 'NL',
    gmtOffset: '2',
        locationKey: '251687',
        canonicalLocationKey: '251687',
        weatherDate:'20160412',
        callRender:'1'
        };


var aadCustomKeyValuePairs = {};
</script>

    <script type="text/javascript">
    var AW_EXP_ID = null;
    var AW_EXP_VAR = null;
        var apgConfigObj = {};
        apgConfigObj.showLifestyle = true;
        apgConfigObj.prompts = {};
    apgConfigObj.useBrightcoveVideoWall = true;
    apgConfigObj.openBrightCoveVideoWallInNewTab = true;

        var acm_RecentLocationsCarousel= new Array();

acm_RecentLocationsCarousel.push({name:"The Hague, Netherlands", daypart:'day', href:'/en/nl/the-hague/251687/weather-forecast/251687', icon:'http://vortex.accuweather.com/adc2010/images/icons-numbered/01-m.png', bg:'su', temp:'59',  realfeel:'61',  text:'Sunny'});
acm_RecentLocationsCarousel.push({name:"Amsterdam, Netherlands", daypart:'day', href:'/en/nl/amsterdam/249758/weather-forecast/249758', icon:'http://vortex.accuweather.com/adc2010/images/icons-numbered/03-m.png', bg:'su', temp:'61',  realfeel:'64',  text:'Partly sunny'});
acm_RecentLocationsCarousel.push({name:"Rotterdam, Netherlands", daypart:'day', href:'/en/nl/rotterdam/251688/weather-forecast/251688', icon:'http://vortex.accuweather.com/adc2010/images/icons-numbered/01-m.png', bg:'su', temp:'59',  realfeel:'61',  text:'Sunny'});
acm_RecentLocationsCarousel.push({name:"Utrecht, Netherlands", daypart:'day', href:'/en/nl/utrecht/250560/weather-forecast/250560', icon:'http://vortex.accuweather.com/adc2010/images/icons-numbered/06-m.png', bg:'c', temp:'61',  realfeel:'71',  text:'Mostly cloudy'});
acm_RecentLocationsCarousel.push({name:"Alkmaar, Netherlands", daypart:'day', href:'/en/nl/alkmaar/249550/weather-forecast/249550', icon:'http://vortex.accuweather.com/adc2010/images/icons-numbered/03-m.png', bg:'su', temp:'61',  realfeel:'64',  text:'Partly sunny'});

    </script>

            <script type="text/javascript">
                var acm_InterestLayers = [
{group:'1.1', name:'Cold & Flu', code:'10302', icon: 'cold-flu', href:'http://www.accuweather.com/en/nl/the-hague/251687/cold-flu-weather/251687', alarm:[3,4,5]},
{group:'1.1', name:'Allergies', code:'10201', icon: 'allergies', href:'http://www.accuweather.com/en/nl/the-hague/251687/allergies-weather/251687', alarm:[3,4,5]},
{group:'1.1', name:'Respiratory', code:'10301', icon: 'respiratory', href:'http://www.accuweather.com/en/nl/the-hague/251687/asthma-weather/251687', alarm:[3,4,5]},
{group:'1.1', name:'Arthritis', code:'10102', icon: 'arthritis', href:'http://www.accuweather.com/en/nl/the-hague/251687/arthritis-weather/251687', alarm:[3,4,5]},
{group:'1.1', name:'Migraine', code:'10101', icon: 'migraine', href:'http://www.accuweather.com/en/nl/the-hague/251687/migraine-weather/251687', alarm:[3,4,5]},
{group:'1.1', name:'Sinus', code:'10103', icon: 'sinus', href:'http://www.accuweather.com/en/nl/the-hague/251687/sinus-weather/251687', alarm:[3,4,5]},
{group:'1.2', name:'Travel', code:'20501', icon: 'travel', href:'http://www.accuweather.com/en/nl/the-hague/251687/air-travel-weather/251687', alarm:[1]},
{group:'1.2', name:'Astronomy', code:'40501', icon: 'astro', href:'http://www.accuweather.com/en/nl/the-hague/251687/astronomy-weather/251687', alarm:[1]},
{group:'1.2', name:'Events', code:'41001', icon: 'events', href:'http://www.accuweather.com/en/nl/the-hague/251687/events-weather/251687', alarm:[1]},
{group:'2.1', name:'Driving', code:'20401', icon: 'driving', href:'http://www.accuweather.com/en/nl/the-hague/251687/driving-weather/251687', alarm:[1]},
{group:'2.1', name:'School Day', code:'30401', icon: 'school', href:'http://www.accuweather.com/en/nl/the-hague/251687/school-day-weather/251687', alarm:[1]},
{group:'2.1', name:'Hair Day', code:'30301', icon: 'hair', href:'http://www.accuweather.com/en/nl/the-hague/251687/hair-day-weather/251687', alarm:[3,4,5]},
{group:'2.1', name:'Snow Days', code:'30402', icon: 'snow', href:'http://www.accuweather.com/en/nl/the-hague/251687/snow-day-weather/251687', alarm:[4,5]},
{group:'2.2', name:'D.I.Y.', code:'30101', icon: 'diy', href:'http://www.accuweather.com/en/nl/the-hague/251687/diy-weather/251687', alarm:[1]},
{group:'2.2', name:'Lawn & Garden', code:'30201', icon: 'lawn-garden', href:'http://www.accuweather.com/en/nl/the-hague/251687/lawn-garden-weather/251687', alarm:[1]},
{group:'2.2', name:'Home Energy', code:'30501', icon: 'home-energy', href:'http://www.accuweather.com/en/nl/the-hague/251687/home-energy-weather/251687', alarm:[1]},
{group:'2.2', name:'Entertaining', code:'40102', icon: 'entertaining', href:'http://www.accuweather.com/en/nl/the-hague/251687/outdoor-entertaining-weather/251687', alarm:[1]},
{group:'3.1', name:'Golf', code:'40201', icon: 'golf', href:'http://www.accuweather.com/en/nl/the-hague/251687/golf-weather/251687', alarm:[1]},
{group:'3.1', name:'Ski', code:'40301', icon: 'ski', href:'http://www.accuweather.com/en/nl/the-hague/251687/ski-weather/251687', alarm:[1]},
{group:'3.1', name:'Hunting', code:'40601', icon: 'hunting', href:'http://www.accuweather.com/en/nl/the-hague/251687/hunting-weather/251687', alarm:[1]},
{group:'3.1', name:'Fishing', code:'40602', icon: 'fishing', href:'http://www.accuweather.com/en/nl/the-hague/251687/fishing-weather/251687', alarm:[1]},
{group:'3.1', name:'Running', code:'40901', icon: 'running', href:'http://www.accuweather.com/en/nl/the-hague/251687/running-weather/251687', alarm:[1]},
{group:'3.1', name:'Hiking', code:'40903', icon: 'hiking', href:'http://www.accuweather.com/en/nl/the-hague/251687/hiking-weather/251687', alarm:[1]},
{group:'3.1', name:'Biking', code:'40902', icon: 'biking', href:'http://www.accuweather.com/en/nl/the-hague/251687/biking-weather/251687', alarm:[1]},
{group:'3.1', name:'Sun & Sand', code:'40401', icon: 'sun-sand', href:'http://www.accuweather.com/en/nl/the-hague/251687/sun-sand-weather/251687', alarm:[1]},
{group:'3.1', name:'Sailing', code:'40402', icon: 'sailing', href:'http://www.accuweather.com/en/nl/the-hague/251687/sailing-weather/251687', alarm:[1]}];
            </script>

    <!--<script type="text/javascript" src="http://vortex.accuweather.com/adc2010/javascripts/lib.min-20160106.js"></script>-->
    <!--<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=accuweather"></script>-->



<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=en-us"></script>
<script type="text/javascript" src="http://vortex.accuweather.com/adc2010/javascripts/maptiles/bing/bingmaps-adc.min-20140827.js"></script>

    <script type="text/javascript" src="http://vortex.accuweather.com/tiles/client/accuweather/?p=worldsat&r=js&cbt=635960687517440537"></script>
    <script type="text/javascript">
        bm_tileDataObj = new jsonWorldSat();
        bm_culture = 'en-us';
    </script>

    <script type="text/javascript">
    bm_GMToffset = 2;
    bm_centerPoint = new Microsoft.Maps.Location(0, 0);
    bm_defaultZoom = 2;

        function bmPlay() {
            bm_animate = true;
            $("#bmPlayLink").hide();
        }
//        function carouselPaginate(idx) {
//            if (idx > bm_animMaxFrames) { idx = bm_animMaxFrames; }
//	        $('#mapcontrols').find('li').each(function(i) {
//		        if (i == idx) {
//			        $(this).css('background-color', '#637EBE');
//		        } else if (i == idx) {
//			        $(this).css('background-color', '#E9EFEF');
//		        }
//	        });
//        }

        $(document).ready(function() {
//            $('#mapcontrols').mouseenter(function() {
//                bm_animate = false;
//            });
//            $('#mapcontrols').mouseleave(function() {
//                bm_animate = true;
//            });

            $('#mapcontrols').find('li').each(function(i) {
                $(this).mouseenter(function() {
                    //alert(i);
                    if (bm_animate)
                    {
					    bm_animate = false;
                        //var currentFrame = getCurrentFrame();
                        if (bm_currentFrame > 0)
                        {
                            bm_AnimationFrames[bm_currentFrame].setOptions({ opacity: 0, visible: false });
                            //hidePrevious(currentFrame-1);
                            hidePrevious(getCurrentFrame());
                        }
                        else
                        {
                            bm_AnimationFrames[bm_AnimationFrames.length - 1].setOptions({ opacity: 0, visible: false });
                            //hidePrevious(bm_AnimationFrames.length - 1);
                            //hidePrevious(currentFrame);
                        }
                    }
                    else
                    {
                        bm_AnimationFrames[bm_currentFrame].setOptions({ opacity: 0, visible: false });
                        //hidePrevious(getCurrentFrame());
                    }
                    bm_currentFrame = i;
                    bm_AnimationFrames[bm_currentFrame].setOptions({ opacity: 1, visible: true });
                    updateFrameCounter(bm_currentFrame);
                    $("#bmPlayLink").show();
                });
            });
		});
    </script>

<script type="text/javascript">
    var apgPageInfoObj = { ad_site: 'us', section: 'maps', ad_section: 'radarandmaps', page: 'satellite', ad_page: 'satellite', page_code: '', crumb_trail: ['Maps', 'Satellite', 'World'], pageType: 'content', pageExt: '', adPos: { atf728: true, atfPencil: true, atf300: true, atf160: false, btf728: true, btf300: true, popunder: true, prestitial: true, links: true, ptoSkin: true, tiles: [
{
  divid: "header-davek-ps",
  atf: true,
  companion: false,
  name: "Tile1",
  enabled: true,
  sizes: {
    ATF728:true,
    ATFPENCIL:true
  }
},
{
  divid: "top-panel-body-rt-body-ps",
  atf: true,
  companion: false,
  name: "Tile2",
  enabled: true,
  sizes: {
    ATF300:true,
    ATF300_NONPROD:true,
    ATF160:false
  }
},
{
  divid: "bottom-panel-body-ps",
  atf: false,
  companion: false,
  name: "Tile3",
  enabled: true,
  sizes: {
    BTF300:true,
    BTF300_NONPROD:true
  }
},
{
  divid: "footer-stevem-ps",
  atf: false,
  companion: false,
  name: "Tile4",
  enabled: true,
  sizes: {
    BTF728:true
  }
},
{
  divid: "aadTop300",
  atf: true,
  companion: false,
  name: "Tile2",
  enabled: false,
  sizes: {
    ATF300:false,
    ATF300_NONPROD:false,
    ATF160:true,
    ATF_TRR:true
  }
},
{
  divid: "aadTRR160",
  atf: false,
  companion: false,
  name: "Tile6",
  enabled: false,
  sizes: {
    ATF160:true,
    BTF_TRR:true
  }
}]
} };
</script>


    <script type="text/javascript">
        if (apgConfigObj.minutecast) {
            apgConfigObj.minutecast.contentAmount = '1';
        }
    </script>

<script>
    var acm = {};
    acm.isOldIE = false;
</script>
<!--[if lte IE 8]>
    <script>acm.isOldIE = true;</script>
<![endif]-->
        <script type="text/javascript" src="http://vortex.accuweather.com/adc2010/javascripts/apt.min-20160315-1001.js"></script>
        <script src="http://www.googletagservices.com/tag/js/gpt.js"></script>
    <script type="text/javascript" src="http://vortex.accuweather.com/adc2010/javascripts/site.min-20160311-1001.js"></script>
            <script src="https://tags.crwdcntrl.net/c/5354/cc.js?ns=_cc5354" id="LOTCC_5354"></script>
            <script>
                _cc5354.bcp();
            </script>

        <script type="text/javascript">
        var settingsCke = "acm";
        sj_SelectCountry = "Select a Country";

            function acmCitySubmit(key) {

                var s_value = document.getElementById('s').value;
                if (s_value == "Enter postal code or city...") {
                    return false;
                }

                if (s_value === "") {
                    return false;
                }
                var isKeyPress = (key) ? 'EnterKey' : 'ButtonClick';

                if (s_value == "The Hague, Netherlands") {
                    gaManager.trackEvent('LocationBox', 'DefaultLocation', s_value.toLowerCase());
                    setTimeout(function () {
                        window.location.href = 'http://www.accuweather.com/en/nl/the-hague/251687/weather-forecast/251687';
                    }, 50);
                } else {
                    gaManager.trackEvent('LocationBox', 'SearchLocation', s_value.toLowerCase());
                    //setTimeout(function () {
                    //    document.forms["findcity"].submit();
                    //}, 50);
                    // Execute it right away to prevent double-submit.
                    document.forms["findcity"].submit();
                }
            }


        </script>


    <script>
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "6005068" });
        (function () {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>

    <script type="text/javascript">
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })()
    </script>

</head>

<body id="radar-maps" class="">
    <!-- Google Tag Manager -->
                            <p></p><br />
                    <p></p><br />
                            <p></p><br />
                    <p></p><br />
    <h2>Satellite World</h2>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7HTGM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>

    </noscript>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
        {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P7HTGM');
    </script>
    <!-- End Google Tag Manager -->
        <style type="text/css">
        #cobrand-banner-wrap-head{border-bottom:#D1D4D9 2px solid;}
        #cobrand-banner-head{width:900px;margin:0px auto;height:40px;overflow:hidden;}
        </style>
        <div id="cobrand-banner-wrap-head">
          <div id="cobrand-banner-head">
          <style>
#redesign_welcome {
    background: #00afbe;
    color: #ffffff;
    display: block;
    position: relative;
}

#redesign_welcome a {
    color: #141d26;
    text-decoration: underline;
}

#redesign_welcome .inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

#redesign_welcome .inner p {
    color: #ffffff;
    padding-right: 30px;
    line-height: 21px;
}

#redesign_welcome #banner-close-btn {
    position: absolute;
    right: 0;
    color: transparent;
    top: 10px;
}

#redesign_welcome #banner-close-btn::after {
    content: '&#10005;';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: #ffffff;
    cursor: pointer;
}
</style>
<script>
var doc_body = document.getElementsByTagName("body");
var firstChild = doc_body.firstChild;

var banner_ = document.createElement("div");
banner_.id = 'redesign_welcome'



function createCookie(name, value, days) {
    console.log(name);
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
    } else var expires = "7";
    document.cookie = name + "=" + value + expires + "; path=/";
}

function close_welcome() {
    var redesign_banner = document.getElementById("redesign_welcome");
    doc_body[0].removeChild(redesign_banner);
    createCookie('removeMessage', 'message', 14);
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

if (readCookie('removeMessage') == "message") {
    console.log('cookie found');
} else {
    doc_body[0].insertBefore(banner_, firstChild);
}
</script>
          </div>
        </div>



<!---->
 <!--&lt;!&ndash;-->

  <div id="wrap-content">
    <div id="content">


            <div id="mapTiles_map_container" style="position:relative;width:600px;height:450px;">
                <div id="googmap" style="position:relative;width:600px;height:450px;">
                    <div id="map_canvas">

                    </div>

                    <div id="radarTime"></div>
                </div>
            </div>

            <div id="mapcontrols">
            <script type="text/javascript">
                document.write("<ul>");
                for (var i = 0; i < bm_animMaxFrames; i++) {
                    document.write("<li></li>");
                }
                document.write("</ul>");
                document.write("<div id=\"bmPlayLink\"><a href=\"javascript:bmPlay();\"><img src=\"http://vortex.accuweather.com/adc2010/images/misc/bm_play.gif\" alt=\"Play\" /></a></div>");
            </script>
            </div>

            <div class="clearfix"></div>



          <script type="text/javascript">
            bmInitialize();
          </script>
          </div>
          </div>
        </div>

    </div>
  <!-- /.panel-body-lt -->
  <div class="panel-foot-lt">
    <div class="panel-foot-rt">
      <div class="panel-foot"></div>
    </div>
  </div>
</div>

      </div>
      <!-- /.column-1 -->


        <style>
.addthis_floating_style {padding:0;border-radius:0;-webkit-border-radius:0;}
.addthis_32x32_style {width:32px;padding:4px;}
.addthis_floating_style .at300b, .addthis_floating_style .at300bo, .addthis_floating_style .at300m {padding:0;margin:0;}
.addthis_floating_style .at300b > *, .addthis_floating_style .at300bo > *, .addthis_floating_style .at300m > *, .addthis_floating_style.addthis_32x32_style a {margin-bottom:0;}
.addthis_floating_style.addthis_32x32_style, .addthis_floating_style.addthis_32x32_style .addthis_internal_container {width:32px;}
</style>
<script type="text/javascript">
var addthisHtml = '<div id="addthis_widget" class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="height:128px;">';
addthisHtml += '<a class="addthis_button_facebook" style="cursor:pointer"></a>';
addthisHtml += '<a class="addthis_button_twitter" style="cursor:pointer"></a>';
addthisHtml += '<a class="addthis_button_google_plusone_share" style="cursor:pointer"></a>';
addthisHtml += '<a class="addthis_button_compact"  style="cursor:pointer"></a>';
addthisHtml += '</div>';

var offset = $('#panel-main').offset();
$('body').prepend(addthisHtml);
$('#addthis_widget').css({ position:'fixed', top:390, left:(offset.left - 36)});

$(window).resize(function () {
var offset = $('#panel-main').offset();
    $('#addthis_widget').css({ left:(offset.left - 36)});
});

$(window).scroll(function () {

    var addthisMaxScroll = offset.top + $('#panel-main').height() + 600 - $(window).height();
    if ($(window).scrollTop() > addthisMaxScroll) {
        if ($('#addthis_widget').css('display') != "none") {
            $('#addthis_widget').fadeOut(400, function () {});
        }
    }
    else {
        if ($('#addthis_widget').css('display') == "none") {
            $('#addthis_widget').fadeIn(400, function () {});
        }
    }
});
</script>




{% endblock %}


