{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}


<head>
<!--/////////////////////////////////////////////////-->




                        <!--<iframe src="http://www.meteobeverwijk.nl/weerstations.aspx"...-->
                   <!--frameborder="0" scrolling="no" marginheight="0" width=750 height=512 frameborder=no></iframe><br /><br/><br/>-->


<!--<h2>KNMI weatherstations in the Netherlands		</h2><br>-->
         <!--<br/><br/>-->
             <!--<br/><br/>-->
             <!--<br/><br/>-->

    <!--<div id="content">-->
    <!--<div style="height:800px;">-->
        <!--<iframe id="optomaFeed" src="http://www.meteobeverwijk.nl/weerstations.aspx" scrolling="no"-->
            <!--frameborder="0" height="715" width="100%" style="position:absolute; clip:rect(130px,1000px,1400px,10px);-->
            <!--top:-150px; left:-30px;"></iframe>-->
    <!--</div>-->
<!--</div>-->

<!--wget -O bestand &#45;&#45;post-data="variabele=waarde&variabele=waarde&...." http://projects.knmi.nl/klimatologie/daggegevens/getdata_dag.cgi-->
    <!-- -->
	<!--<ul class="actions">-->
			<!--<li>-->
		<!--<a href="#" onclick="window.print();return false;"><img src="/media/system/images/printButton.png" alt="Print"  /></a>		</li>-->

	<!--</ul>-->



    <h2>Testing forms...</h2>

         <br/><br/>
    <h3>Using HTML/JavaScript</h3>
      <form>
        <input type="text" id="songTextInput" size="40" placeholder="Extra input">
        <input type="button" id="addButton" value="Add Info">
      </form>
        <ul id="playlist">
        </ul>


<h3>Calculations in JavaScript </h3>
        <form>
Enter coefficients for ax<sup>2</sup> + bx + c = 0:
<br />
a = <input type="text" value="2" name="a" />
(must not be 0)<br />
b = <input type="text" value="-9" name="b" /><br />
c = <input type="text" value="3" name="c" /><br />

<input type="button" name="Calculate" value="Click here to get r1: "
onclick="var A=parseFloat(a.value),B=parseFloat(b.value),C=parseFloat(c.value);
r1.value=(-B+Math.sqrt(B*B-4.*A*C))/2./A; " />
<input type="text" value="0" name="r1" /> <br />

<input type="button" name="Calculate" value="Click here to get r2: "
onclick="var A=parseFloat(a.value),B=parseFloat(b.value),C=parseFloat(c.value);
r2.value=(-B-Math.sqrt(B*B-4.*A*C))/2./A; " />
<input type="text" value="0" name="r2"  />
</form>

        <br /><br />
<script language="javascript" type="text/javascript">
var siteID = new Array();
function IDArray(ID,lat,lon,elev) {
this.ID=ID;
this.lat=lat;
this.lon=lon;
this.elev=elev;
}
siteID[0]=new IDArray("Drexel",39.955,-75.188,10.);
siteID[1]=new IDArray("home",40.178,-75.333,140.);
siteID[2]=new IDArray("NC",35.452,-81.022,246);
siteID[3]=new IDArray("Argentina",-34.617,-58.37,30.);
siteID[4]=new IDArray("Netherlands",52.382,4.933,-1);
var i;
for (i=0; i<siteID.length; i++){
document.write(siteID[i].ID + ", " + siteID[i].lat + ", " + siteID[i].lon+ "," +siteID[i].elev + "<br />");
}
</script>

</body>
<!-- Finish script here -->
{% endblock %}


    <!--<h3>Using Django</h3>-->
<!--<ul>-->
<!--{% for contact in object_list %}-->
    <!--<li class="contact">{{ contact }}</li>-->
<!--{% endfor %}-->
<!--</ul>-->

    <!--<img src="{% static "app/images/julia.jpg" %}" alt="My image"  width="25%" height="25%"/>-->



    <!--<form action="http://wickedlysmart.com/hfhtmlcss/contest.php" method="POST">-->
        <!--<p>-->
            <!--Just type in your name (and click Submit) to enter the contest: <br><br>-->
            <!--First name: <input type="text" name="firstname" value=""> <br>-->
            <!--Last name:  <input type="text" name="lastname" value=""> <br><br>-->
            <!--<input type="submit">-->
        <!--</p>-->

            <!--<br>How do you like toye coffee?<br>-->
            <!--<input type="radio" name="hotornot" value="hot" checked>  hot<br>-->
            <!--<input type="radio" name="hotornot" value="cold">  cold<br>-->

            <!--<br>What about spices?<br>-->
            <!--<input type="checkbox" name="spice" value="Salt"> Salt <br>-->
            <!--<input type="checkbox" name="spice" value="Pepper"> Pepper <br>-->
            <!--<input type="checkbox" name="spice" value="Garlic" checked> Garlic <br>-->

            <!--<br>Any Comments?<br>-->
            <!--<textarea name="comments" rows="3" cols="48"></textarea><br>-->

            <!--<br>Hidden multiple options<br>-->
            <!--<select name="characters">-->
                <!--<option value="Buckaroo">Buckaroo Banzai</option>-->
                <!--<option value="Tommy">Perfect Tommy</option>-->
                <!--<option value="Penny">Penny Priddy</option>-->
                <!--<option value="Jersey">New Jersey</option>-->
                <!--<option value="John">John Parker</option>-->
            <!--</select><br>-->

            <!--<br>Open Multiple options<br>-->
              <!--<select name="characters" multiple>-->
                <!--<option value="Buckaroo">Buckaroo Banzai</option>-->
                <!--<option value="Tommy">Perfect Tommy</option>-->
                <!--<option value="Penny Priddy">Penny</option>-->
                <!--<option value="New Jersey">Jersey</option>-->
                <!--<option value="John Parker">John</option>-->
              <!--</select>-->

            <!--<br>Number?<br>-->
                <!--<input type="number" min="0" max="20" value="5"><br>-->
            <!--<br>Range?<br>-->
                <!--<input type="range" min="0" max="20" step="5" value="5"><br>-->
            <!--<br>Color?<br>-->
                <!--<input type="color" ><br>-->
            <!--<br>Date?<br>-->
                <!--<input type="date">-->
            <!--<br>Email?<br>-->
                <!--<input type="email">-->
            <!--<br>Tel?<br>-->
                 <!--<input type="tel">-->
            <!--<br>URL?<br>-->
                <!--<input type="url">-->

            <!--<br>Enter your password<br>-->
            <!--<input type="password" name="secret">-->
            <!--<br>Upload a file<br>-->
            <!--<input type="file" name="doc">-->

            <!--<br>Using Placeholder<br>-->
            <!--<input type="text" placeholder="Buckaroo Banzai">-->
            <!--<br>Using required field<br>-->
             <!--<input type="text" placeholder="Buckaroo Banzai" required>-->



      <!--<script language="javascript" type="text/javascript">-->
        <!--function touchRock() {-->
          <!--var userName = prompt("What is your name?", "Enter your name here.");-->

          <!--if (userName) {-->
            <!--alert("It is good to meet you, " + userName + ".");-->
            <!--document.getElementById("jujuImg").src = "{% static "lua/images/mouse2.jpg" %}";-->
          <!--}-->
        <!--}-->
      <!--</script>-->

    <!--</form>-->




<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <!--<meta charset="utf-8">-->
    <!--<title>Places Searchbox</title>-->
    <!--<style>-->
      <!--html, body {-->
        <!--height: 100%;-->
        <!--margin: 0;-->
        <!--padding: 0;-->
      <!--}-->
      <!--#map {-->
        <!--height: 100%;-->
      <!--}-->
      <!--.controls {-->
        <!--margin-top: 10px;-->
        <!--border: 1px solid transparent;-->
        <!--border-radius: 2px 0 0 2px;-->
        <!--box-sizing: border-box;-->
        <!-&#45;&#45;moz-box-sizing: border-box;-->
        <!--height: 32px;-->
        <!--outline: none;-->
        <!--box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);-->
      <!--}-->

      <!--#pac-input {-->
        <!--background-color: #fff;-->
        <!--font-family: Roboto;-->
        <!--font-size: 15px;-->
        <!--font-weight: 300;-->
        <!--margin-left: 12px;-->
        <!--padding: 0 11px 0 13px;-->
        <!--text-overflow: ellipsis;-->
        <!--width: 300px;-->
      <!--}-->

      <!--#pac-input:focus {-->
        <!--border-color: #4d90fe;-->
      <!--}-->

      <!--.pac-container {-->
        <!--font-family: Roboto;-->
      <!--}-->

      <!--#type-selector {-->
        <!--color: #fff;-->
        <!--background-color: #4d90fe;-->
        <!--padding: 5px 11px 0px 11px;-->
      <!--}-->

      <!--#type-selector label {-->
        <!--font-family: Roboto;-->
        <!--font-size: 13px;-->
        <!--font-weight: 300;-->
      <!--}-->
      <!--#target {-->
        <!--width: 345px;-->
      <!--}-->
    <!--</style>-->
  <!--</head>-->
  <!--<body>-->
    <!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">-->
    <!--<div id="map"></div>-->
    <!--<script>-->
      <!--// This example adds a search box to a map, using the Google Place Autocomplete-->
      <!--// feature. People can enter geographical searches. The search box will return a-->
      <!--// pick list containing a mix of places and predicted search terms.-->

      <!--// This example requires the Places library. Include the libraries=places-->
      <!--// parameter when you first load the API. For example:-->
      <!--// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">-->

      <!--function initAutocomplete() {-->
        <!--var map = new google.maps.Map(document.getElementById('map'), {-->
          <!--center: {lat: -33.8688, lng: 151.2195},-->
          <!--zoom: 13,-->
          <!--mapTypeId: google.maps.MapTypeId.ROADMAP-->
        <!--});-->

        <!--// Create the search box and link it to the UI element.-->
        <!--var input = document.getElementById('pac-input');-->
        <!--var searchBox = new google.maps.places.SearchBox(input);-->
        <!--map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);-->

        <!--// Bias the SearchBox results towards current map's viewport.-->
        <!--map.addListener('bounds_changed', function() {-->
          <!--searchBox.setBounds(map.getBounds());-->
        <!--});-->

        <!--var markers = [];-->
        <!--// Listen for the event fired when the user selects a prediction and retrieve-->
        <!--// more details for that place.-->
        <!--searchBox.addListener('places_changed', function() {-->
          <!--var places = searchBox.getPlaces();-->

          <!--if (places.length == 0) {-->
            <!--return;-->
          <!--}-->

          <!--// Clear out the old markers.-->
          <!--markers.forEach(function(marker) {-->
            <!--marker.setMap(null);-->
          <!--});-->
          <!--markers = [];-->

          <!--// For each place, get the icon, name and location.-->
          <!--var bounds = new google.maps.LatLngBounds();-->
          <!--places.forEach(function(place) {-->
            <!--var icon = {-->
              <!--url: place.icon,-->
              <!--size: new google.maps.Size(71, 71),-->
              <!--origin: new google.maps.Point(0, 0),-->
              <!--anchor: new google.maps.Point(17, 34),-->
              <!--scaledSize: new google.maps.Size(25, 25)-->
            <!--};-->

            <!--// Create a marker for each place.-->
            <!--markers.push(new google.maps.Marker({-->
              <!--map: map,-->
              <!--icon: icon,-->
              <!--title: place.name,-->
              <!--position: place.geometry.location-->
            <!--}));-->

            <!--if (place.geometry.viewport) {-->
              <!--// Only geocodes have viewport.-->
              <!--bounds.union(place.geometry.viewport);-->
            <!--} else {-->
              <!--bounds.extend(place.geometry.location);-->
            <!--}-->
          <!--});-->
          <!--map.fitBounds(bounds);-->
        <!--});-->
      <!--}-->

    <!--</script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt2JrdlwkZXbfc9lrdAtCGm6ki32boS6s&libraries=places&callback=initAutocomplete"-->
         <!--async defer></script>-->
  <!--</body>-->
<!--</html>-->


<!--</html>-->