{% extends "initial/layout.html" %}

{% block content %}


    <head>
        <h1>{{title}}</h1>
        <!--<h2>{{ message }}</h2>-->
        <!--<h3>{{content}}</h3> <br/>-->

    </head>

    <body>
        <br /><br /><br />

        <div class="col-md-4">
     <p><a href="plot">.......</a></p>
                <p>  </p><br />
    </div>


        <!--<div class="col-md-4">-->
     <!--<p><a href="lua">Lua</a></p>-->
                <!--<p>  </p><br />-->
    <!--</div>-->


        <!--<div class="col-md-4">-->
     <!--<p><a href="home">home</a></p>-->
                <!--<p>  </p><br />-->
    <!--</div>-->




    </body>
</html>


{% endblock %}

<!--

    <div class="col-md-4">
     <p><a href="figures">Figures</a></p>
                <p>  </p><br />
    </div>

    <div class="col-md-4">
     <p><a href="plotando">Plotando</a></p>
                <p>  </p><br />
    </div>

    <div class="col-md-4">
        <p><a href="txt">Txt File</a></p>
                <p>  </p><br />
    </div>
-->