<!DOCTYPE html>
<html>

{% block content %}
    <head>
        <h1>{{title}}</h1>
        <h2>{{ message }}</h2>
        <h3>{{content}}</h3> <br/>

    </head>
<body>

    <div class="col-md-4">
     <p><a href="contas_2p">Math</a></p>
                <p>  </p><br />
    </div>

    <div class="col-md-4">
     <p><a href="figures">Figures</a></p>
                <p>  </p><br />
    </div>

    <div class="col-md-4">
     <p><a href="plotando">Plotando</a></p>
                <p>  </p><br />
    </div>

    <div class="col-md-4">
        <p><a href="txt">Txt File</a></p>
                <p>  </p><br />
    </div>

            <p></p><br />
            <p></p><br />
                <a href="{{request.META.HTTP_REFERER}}">Back</a>
            <p> </p>


</body>
</html>

{% endblock %}