{% extends "initial/layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<h3>{{ message }}</h3>

<address>
    Click on the right answer<br />
    and it will take you to the next one<br />

</address>

  <p class="lead">List of questions:</p>


            <p>  </p><br />
        <p> Question 1    {{ form.r }} </p>
                <p>  </p><br />
        <p> Question 2    {{ form.s }} </p>
                <p>  </p><br />
        <p> Question 3    {{ form.t }} </p>
                <p>  </p><br />
        <p> Question 4    {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 5    {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 6    {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 7    {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 8    {{ form.u }} </p>





 <!--

         <a class="btn btn-default" href="{% url 'testando' %}">Oil</a>
        <a class="btn btn-default" href="{% url 'testando' %}"> Gas </a>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}

 -->

{% endblock %}









