{% extends "initial/layout.html" %}

{% block content %}


<h2>{{title}}</h2>
<h3>{{ message }}</h3>

<address>
    Click on the right answer<br />
    and it will take you to the next one<br />

</address>


    <p class="lead">Main factor causing the deformation?</p>
        <a class="btn btn-default" href="{% url 'B2_a' %}">Landslides</a>
        <a class="btn btn-default" href="{% url 'B2_b' %}"> Earthquakes </a>
        <a class="btn btn-default" href="{% url 'B2_c' %}"> Vulcanism </a>


 <!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}

 -->

{% endblock %}









