{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}

<h2>{{title}}</h2>
<!--<h3>{{ message }}</h3>-->

    <p class="lead">To wich activity is the deformation related?</p>



        <div class="row">

            <div class="col-md-4">
                <a href="{% url 'dams' %}"><h3>Dams</h3></a>
                <!--<a href="{% url 'dams' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

            <div class="col-md-4">
                <a href="{% url 'q_railways' %}"><h3>Railways</h3></a>
                <!--<a href="{% url 'railways' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

            <div class="col-md-4">
                <a href="{% url 'foundations' %}"><h3>Foundations</h3></a>
                <!--<a href="{% url 'foundations' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

         </div>

    <!--<p class="lead">Continue to studyarea?</p>-->
        <!--<a class="btn btn-default" href="{% url 'geolocation' %}">Geolocation</a>-->
        <!--<a class="btn btn-default" href="{% url 'in_construction' %}"> Other </a>-->


{% endblock %}









