{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}

<h2>{{title}}</h2>
<!--<h3>{{ message }}</h3>-->

    <p class="lead"> Please answer the following questions:</p>

            <p>  </p><br />
        <h4>What is the orientation of the dam?.............................................................. <input type="text" size=10 id="field1" />  {{ form.r }}  </h4>
            <p>azimuth heading of dam in degrees, with water side to the left. </p>
            <p>  </p><br />
        <h4>What is the slope of dam?........................................................................... <input type="text" size=10 id="field1" /> {{ form.s }} </h4>
            <p>expressed in degrees, positive for a slope corresponding to...</p>
            <p>  </p><br />
        <h4>Is there a curvature to the right of a rail track............................................... <input type="text" size=10 id="field1" />  {{ form.t }} </h4>
            <p> bla bla bla</p>
            <p>  </p><br />
        <h4>What is the incidence angle?...................................................................... <input type="text" size=10 id="field1" />  {{ form.u }} </h4>
            <p>Incidence angle in degrees, e.g 38 degree</p>
            <p>  </p><br />
        <h4>What is the TSX heading : ........................................................................ <input type="text" size=10 id="field1" />  {{ form.u }} </h4>
            <p>Heading of track, e.g. 352 for ascending</p>
            <p>  </p><br />

            <p> </p><br />
            <p></p><br />


    <p class="lead">Continue to studyarea?</p>
        <a class="btn btn-default" href="{% url 'geolocation' %}">Geolocation</a>
        <a class="btn btn-default" href="{% url 'in_construction' %}"> Other </a>


{% endblock %}









