{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}


<h2>{{title}}</h2>
<!--<h3>{{ message }}</h3>-->

    <p class="lead">To wich activity is the deformation related?</p>
        <!--<a class="btn btn-default" href="{% url 'landslides' %}">Landslides</a>-->
        <!--<a class="btn btn-default" href="{% url 'earthquakes' %}"> Earthquakes </a>-->
        <!--<a class="btn btn-default" href="{% url 'volcanism' %}"> Volcanism </a>-->


        <div class="row">

            <div class="col-md-4">
                <a href="{% url 'landslides' %}"><h3>Landslides</h3></a>
                <!--<a href="{% url 'landslides' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

            <div class="col-md-4">
                <a href="{% url 'earthquakes' %}"><h3>Earthquakes</h3></a>
                <!--<a href="{% url 'earthquakes' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

            <div class="col-md-4">
                <a href="{% url 'volcanism' %}"><h3>Mudslides/Volcanism</h3></a>
                <!--<a href="{% url 'volcanism' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <p></p><br />
            </div>

         </div>

{% endblock %}









