{% extends "initial/layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<h3>{{ message }}</h3>

<address>


</address>


    <p class="lead">List of questions:</p>


            <p>  </p><br />
        <p> Question 1  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..............................................................   <input type="text" size=10 id="field1" />  {{ form.r }}  </p>
                <p>  </p><br />
        <p> Question 2  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.............................................................. <input type="text" size=10 id="field1" /> {{ form.s }} </p>
                <p>  </p><br />
        <p> Question 3 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..............................................................  <input type="text" size=10 id="field1" />  {{ form.t }} </p>
                <p>  </p><br />
        <p> Question 4  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.............................................................. <input type="text" size=10 id="field1" />  {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 5 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..............................................................  <input type="text" size=10 id="field1" />  {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 6  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.............................................................. <input type="text" size=10 id="field1" />  {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 7  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.............................................................. <input type="text" size=10 id="field1" />  {{ form.u }} </p>
                <p>  </p><br />
        <p> Question 8  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.............................................................. <input type="text" size=10 id="field1" />  {{ form.u }} </p>
                <p>  </p><br />


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}



                <p>  </p><br />
        <p>   When finished xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..........................................................  <a class="btn btn-default" href="{% url 'testando' %}">Save and Print to ...</a> </p>
                <p>  </p><br />

                <p>  </p><br />



            <p> </p>
            <br />
            <p></p>





 <!--

         <a class="btn btn-default" href="{% url 'testando' %}">Oil</a>
        <a class="btn btn-default" href="{% url 'testando' %}"> Gas </a>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}

 -->

{% endblock %}









