{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}

        <h2>{{title}}</h2>
        <!--<h3>{{ message }}</h3>-->
            <p></p><br/>


        <div class="row">

            <div class="col-md-12">
                <a href="{% url 'geolocation' %}"><h2>Geolocation</h2></a>
                <a href="{% url 'geolocation' %}"><img id="compImg" src="{% static "lua/images/maps2.jpg" %}" alt="compass"/></a>
                    <p>Googlemaps - current location <br /> </p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'cloud' %}"><h2>AdaguC WMS Image</h2></a>
                <a href="{% url 'cloud' %}"><img id="solImg" src="{% static "lua/images/clouds3.jpg" %}" alt="image of a sum"/></a>
                    <p>Image using KNMI AdaguC<br /> </p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'weather' %}"><h2>AdaguC WMS Interval</h2></a>
                <a href="{% url 'weather' %}"><img id="compImg" src="{% static "lua/images/clouds3.jpg" %}" alt="laser"/></a>
                    <p>Using AdaguC, KNMI and Buienradar <br /></p>
                    <p></p><br />
             </div>

            <div class="col-md-12">
                <a href="{% url 'vib1' %}"><h2>Semivariogram</h2></a>
                <a href="{% url 'vib1' %}"><img id="compImg" src="{% static "lua/images/variogram.jpg" %}" alt="forms"/></a>
                    <p>With Python scripts</p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'questions' %}"><h2>Questionnaire</h2></a>
                    <a href="{% url 'questions' %}"><img id="compImg" src="{% static "lua/images/muro.jpg" %}" alt="laser"/></a>
                    <p> Get started with questions</p>
                    <p></p><br />
            </div>


            <div class="col-md-12">
                <a href="{% url 'contas_2p' %}"><h2>Text file</h2></a>
                <!--<a href="{% url 'contas_2p' %}"><img id="compImg" src="{% static "lua/images/flags.jpg" %}" alt="text"/></a>-->
                    <p> With Python scripts</p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'irock' %}"><h2>Forms </h2></a>
                <!--<a href="{% url 'irock' %}"><img id="compImg" src="{% static "lua/images/forms.jpg" %}" alt="forms"/></a>-->
                    <p>With JavaScript + JSON.</p>
                    <p></p><br />
            </div>
                <!--<br/>-->

            <div class="col-md-12">
                <a href="{% url 'questions_edit' %}"><h2>Questions</h2></a>
                    <p>Using Django Admin. <br /></p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'agua' %}"><h2>Radar and satellite Europe iframe</h2></a>
                    <p>satellite image worldwide. <br /></p>
                    <p></p><br />
            </div>


            <div class="col-md-12">
                <a href="{% url 'cloud_world' %}"><h2>Radar Europe</h2></a>
                    <p>Radar image of Europe. <br /></p>
                    <p></p><br />
            </div>

            <div class="col-md-12">
                <a href="{% url 'cloud_world2' %}"><h2>Satellite World</h2></a>
                    <p>satellite image worldwide. <br /></p>
                    <p></p><br />
            </div>

            <!--<div class="col-md-12">-->
                <!--<a href="{% url 'cloud_world3' %}"><h2>Testando mapas</h2></a>-->
                    <!--<p>satellite images worldwide. <br /></p>-->
                    <!--<p></p><br />-->
            <!--</div>-->

            <!--<div class="col-md-4">-->
            <!--<a href="{% url 'irock' %}"><h2>GEE2</h2></a></p>-->

            </div>
        </div>

{% endblock %}

        <!--<div class="col-md-4">-->
                    <!--<a href="{% url 'points_amir' %}"><h2>Coordinates Amir</h2></a></p>-->
                    <!--<a href="{% url 'geo_input_dist' %}"><h2>Coordinates with reverse search</h2></a></p>-->
                    <!--<a href="{% url 'geo' %}"><h2>Coordinates with reverse search 2</h2></a></p>-->
                    <!--<a href="{% url 'cloud' %}"><h2>Buien - not working yet</h2></a></p>-->
                    <!--<p>Testing - geolocation2 <br /></p>-->
        <!--</div>-->