{% extends "initial/layout.html" %}

{% block content %}

<h2>What is the cause of the deformation?</h2>
<h3>{{ message }}</h3>

<address>
    Click on the right answer<br />
    and it will take you to the next one<br />
    works as a tree, blablablabla...
</address>

                    <p> </p> <br />
                    <p></p>

    <p class="lead">What is the main cause of the deformation?</p>
        <a class="btn btn-default" href="{% url 'B1' %}">Prospection</a>
        <a class="btn btn-default" href="{% url 'B2' %}"> Natural Hazards </a>
        <a class="btn btn-default" href="{% url 'B3' %}"> Soil Decomposition </a>




 <!--

         <a class="btn btn-default" href="{% url 'testando' %}"> Earthquakes </a>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/app/{{ question.id }}/">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}

 -->

{% endblock %}









