{% extends "initial/layout.html" %}
{% load staticfiles %}
{% block content %}

<h2>{{title}}</h2>

<!--<h3>{{ message }}</h3>-->
    <p class="lead">Railways questionnaire</p>
        <!--<a class="btn btn-default" href="{% url 'dams' %}">Dams</a>-->

        <!--<div class="row">-->

            <!--<div class="col-md-4">-->
                <!--<a href="{% url 'dams' %}"><h2>Dams</h2></a>-->
                <!--&lt;!&ndash;<a href="{% url 'geolocation' %}"><img id="compImg" src="{% static "app/images/muro.jpg" %}" alt="compass"/></a>&ndash;&gt;-->
                    <!--<p>Civil engineering applications - Dams, railways and Infrastructure objects</p>-->
                    <!--<p></p><br />-->
            <!--</div>-->





    <!--<p class="lead">Continue to studyarea?</p>-->
        <!--<a class="btn btn-default" href="{% url 'geolocation' %}">Geolocation</a>-->
        <!--<a class="btn btn-default" href="{% url 'in_construction' %}"> Other </a>-->


{% endblock %}









